body{
    background:lightcyan; border-color: brown; border-width: 0cap;
}
h1{
    text-align: center;
}
.red{
    color:red;
}
#red{
    color:red; text-align: center;
}
#brown{
    color:brown;
}
#red{
    color:red;
}
#red{
    color:red;
}
#red{
    color:red;
}
#orange{
    color:orange;
}
#blue{
    color:blue;
}
#orange{
    color:orange;
}
#blue{
    color:blue;
}
#red{
    color:red;
}
#blue{
    color:blue;
}
#red{
    color:red;
}
#blue{
    color:blue;
}
#red{
    color:red;
}



